@import "tailwindcss";


/* Define Eventopic theme colors as CSS variables */
:root {
  --primary: #283e56;
  --secondary: #fef4e8;
  --white: #ffffff;
  --accent: #385779;
  --dark: #182533;
  --light: #fcddb7;
}